.activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    background: #fff;
    transition: transform 0.5s, opacity 0.5s;
}

.activity-item.archiving {
    animation: hop 0.5s;
}

@keyframes hop {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.left-section {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    font-size: 1.2em;
}

.answered {
    color: rgb(55, 144, 55);
}

.missed {
    color: rgb(180, 69, 69);
}

.voicemail {
    color: orange;
}

.details {
    display: flex;
    flex-direction: column;
}

.phone-number {
    font-weight: bold;
}

.description {
    color: #666;
}

.duration {
    color: #999;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section .time {
    margin-right: 10px;
}

.right-section button {
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
}

.right-section button:hover {
    color: #555;
}

.unarchive {
    color: #555;
}

.archive {
    color: #555;
}
